<div class="service-container">
    <div class="service-header">
      <h1>Welcome to Game 2 Hire</h1>
      <p>
        Game 2 Hire is revolutionizing recruitment by helping job applicants overcome pre-interview nerves and empowering companies to optimize their recruiting process.
      </p>
    </div>
  
    <div class="service-demo">
      <h2>Our Solution</h2>
      <p>
        We provide a unique service that uses gameplay in the 10 minutes leading up to an interview to analyze candidates' personality traits and job-related strengths and weaknesses.
      </p>
      <button (click)="navigateToGame('default')">Try the Demo</button>
      <button (click)="navigateToGame('adventure')">Try another Demo</button>
    </div>
  </div>