<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  * {
    font-family: 'Roboto', sans-serif;
  }

  .navbar {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 10px;
  }

  .navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-item {
    margin: 0 15px;
  }

  .navbar-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  .navbar-link:hover {
    text-decoration: underline;
  }

  .login-button {
    margin-left: auto;
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #0056b3;
  }
</style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="home" class="navbar-link">Home</a></li>
          <li class="navbar-item"><a href="aboutus" class="navbar-link">About</a></li>
          <li class="navbar-item"><a href="services" class="navbar-link">Services</a></li>
          <li class="navbar-item"><a href="contactus" class="navbar-link">Contact</a></li>
        </ul>
        <button class="login-button">Login</button>
      </nav>
    </div>
  </div>
</main>


<router-outlet />
